@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
  height: 100vh;
  background: linear-gradient(to right, rgb(24, 26, 35), rgb(39, 45, 74));
}

body::-webkit-scrollbar {
  background: #ffffff;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(65, 66, 66);
}

.containerLeftFixedHome {
  position: fixed;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: left;
  justify-items: left;
  margin-top: 1rem;

 
  transition: all 500ms ease-in-out;
  animation: sweep 1s ease-out;
  @media screen and (max-width:1000px) {
    position: relative;
  }
  
}

@keyframes sweep {
  0% {
       opacity: 0;
      margin-left: 1rem;
margin-bottom: 1rem;
  }

  100% {
      opacity: 0.5;
      margin-left: 0px;
      margin-bottom: 0rem;
  }
}  
/** "NOME DA DESSA CLASSE SE REFERE A DISPOSITIVOS MOBILES"**/
.ContainerCenter {
  display: flex;
  justify-content: left;
  margin-top: 1rem;

  @media screen and (max-width:1000px) {
    justify-content: center;
    justify-items: center;
  }

}


.ContainerCenterS {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
margin-bottom: 3rem;
}

.ContainerText {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
  width: 32rem;
  margin-left: 1rem;
margin-bottom: 6rem;
  @media screen and (max-width:550px) {
    width: 22rem;
    margin-left: 0;
    margin: 0.5rem;

  }
}

.ContainerHomeText {
  display: flexbox;
  width: 30rem;
  margin-top: 3rem;
  margin-left: 2rem;

  @media screen and (max-width:1000px) {
    margin-top: 2rem;
    width: 20rem;
  }

}

.ContainerFixed {
  position: fixed;
  display: flex;
  justify-content: center;
  justify-items: center;
  overflow: hidden;
  width: 49vw;
  height: 100%;
  box-shadow: 1px -1px 5px #000;

  @media screen and (max-width:1000px) {
    position: relative;
    flex-direction: column;
    margin-bottom: 5rem;
    width: 100%;
    height: 100%;
    box-shadow: none;

  }
}

.ContainerTextRight {
  width: 100%;
  text-align: end;
  margin-right: 2rem;
}

.ContainerTitleSkill {
  display: flex;
  margin-left: 1rem;
}

.containerLeft {
  display: flex;
  justify-content: left;
  align-items: start;
}

.ContainerRight {
  display: flex;
  justify-content: right;

  @media screen and (max-width: 1000px) {
    justify-content: center;
  }

}